@import '../commonStyles/reset.scss';
@import '../commonStyles/variables.scss';
@import '../commonStyles/font-family.scss';

.mainHeader {  
    padding: 30px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 145px;
    height: 60px;
}