@font-face {
    font-family: 'PoppinsRegular';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
} 

@font-face {
    font-family: 'PoppinsBold';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Baloo2Regular';
    src: url('../assets/fonts/Baloo2/Baloo2-Regular.ttf');
}

@font-face {
    font-family: 'Baloo2Bold';
    src: url('../assets/fonts/Baloo2/Baloo2-Bold.ttf');
}