.header_h1_bold {
    font: {
        family: 'Baloo2Regular';
        size: 30px;
        weight: 700;
    };
    line-height: 36px;
}

.header_h2_regular {
    font: {
        family: 'Baloo2Regular';
        size: 28px;
        weight: 400;
    };
    line-height: 36px;
}

.header_h3_bold {
    font: {
        family: 'Baloo2Regular';
        size: 24px;
        weight: 700;
    };
    line-height: 28px;
}

.header_h4_semibold {
    font: {
        family: 'PoppinsRegular';
        size: 16px;
        weight: 600;
    };
    line-height: 16px;
}

.header_h5_medium {
    font: {
        family: 'PoppinsRegular';
        size: 14px;
        weight: 500;
    };
    line-height: 20px;
}

.general_text {
    font: {
        family: 'PoppinsRegular';
        size: 14px;
        weight: 400;
    };
    line-height: 20px;
}

@mixin general_text {
    font: {
        family: 'PoppinsRegular';
        size: 14px;
        weight: 400;
    };
    line-height: 20px;
}

.general_subtext {
    font: {
        family: 'PoppinsRegular';
        size: 12px;
        weight: 300;
    };
    line-height: 16px;
}

.general_subtext_underline {
    font: {
        family: 'PoppinsRegular';
        size: 12px;
        weight: 300;
    };
    line-height: 18px;
    text-decoration-line: underline;
}

.general_subtext_light {
    font: {
        family: 'PoppinsRegular';
        size: 10px;
        weight: 300;
    };
    line-height: 12px;
}

.misc_button1_bold {
    font: {
        family: 'Baloo2Regular';
        size: 14px;
        weight: 700;
    };
    line-height: 22px;
}

@mixin misc_button1_bold {
    font: {
        family: 'Baloo2Regular';
        size: 14px;
        weight: 700;
    };
    line-height: 22px;
}

.misc_button2_regular {
    font: {
        family: 'Baloo2Regular';
        size: 14px;
        weight: 400;
    };
    line-height: 22px;
}

.misc_button2_bold {
    font: {
        family: 'Baloo2Regular';
        size: 14px;
        weight: 600;
    };
    line-height: 22px;
}