$main-theme-color: #59ABB0;
$white: #FFFFFF;
$black: #000000;

$button-color: $main-theme-color;
$button-text-color: $white;
$button-hover-color: #1B6C71;
$button-transparent-color: $button-hover-color;
$button-transparent-shadow-color: #14565A;
$button-disabled: #C2D2D2;

$input-border: $button-disabled;
$input-hover: $button-hover-color;
$dropdown-select-hover: #F6F6F0;

$scrollbar: $button-disabled;