@import '../../commonStyles/variables.scss';

.btn {
    width: 152px;
    height: 40px;   

    background: $button-color;
    border-radius: 10px;
    border: none;

    color: $button-text-color;

    &:hover {
        background: $button-hover-color;
    }
}   

.apply-btn {
    width: 172px;
    height: 52;
}

.subs-btn {
    width: 120px;
    height: 40px;

    color: $button-transparent-color;
    border: 1px $button-transparent-color solid;
    background: transparent;

    &:hover {
        box-shadow: 0px 0px 4px $button-transparent-shadow-color;
        background: transparent;
    }
}

.course-apply {
    height: 40px;
    width: 256px;
}

.disabled {
    background: $button-disabled;
    &:hover {
        background: $button-disabled;
    }
}