@import '../../commonStyles/reset.scss';
@import '../../commonStyles/variables.scss';
@import '../../commonStyles/font-family.scss';

.header-navigation {
    .list{
        display: flex;
        list-style-type: none;
    }

    .item{
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    .navigation{
        text-decoration: none;
        color: $black;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        text-align: center;

        &:hover {
            font-weight: 600;
            cursor: pointer;
        }
    } 
} 
