@import '../../commonStyles/variables.scss';

.image {
    width: 100%;
}

.text {
    color: $black;

    margin-top: 16px;
    margin-bottom: 16px;
}

.left {
    width: 40%;
}

.right {
    width: 40%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 0 0 60px 0;
}

.list {
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}