@import '../commonStyles/reset.scss';
@import '../commonStyles/variables.scss';

.footer_main {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-footer-main-color);
    color: var(--text-footer-main-color);
    font-family: 'PoppinsRegular';
    font-size: 12px;
    line-height: 16px;

    .footer_simple-art__text {
        text-align: center;
        padding: 40px 0 40px 135px;
    }

    .footer_nav {
        padding: 50px 111px 50px 0;

        .footer_link {
            text-decoration: none;
            color: var(--text-footer-main-color);
            padding-right: 24px;
        }
    }
}

.footer_links__a_tag:hover {
    font-family: 'PoppinsBold';
    cursor: pointer;
} 