@import '../../../commonStyles/variables.scss';

.header-navigation {
    .list{
        display: flex;
        list-style-type: none;
    }

    .item{
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    .navigation{
        text-decoration: none;
        color: $black;

        &:hover {
            font-weight: 600;
            cursor: pointer;
        }
    } 
} 
